<div>
  <div class="overflow-y-scroll sticky top-4 h-[calc(100vh-32px-48px)]">
    <app-account-toogle/>
    <app-search-bar/>
    <div class="flex flex-col gap-2">
      <div *ngFor="let menu of menuItems">
        <button
          class="flex items-center justify-start gap-2 w-full rounded px-2 py-1.5 text-sm transition-[box-shadow,_background-color,_color] cursor-pointer"
          [ngClass]="{
            'bg-white text-stone-950 shadow': menu === selectedMenuItem,
            'hover:bg-stone-200 bg-transparent text-stone-500 shadow-none': menu !== selectedMenuItem
          }"
          (click)="selectMenuItem(menu)"
        >
          <lucide-angular name="{{menu.icon}}" size="20px"></lucide-angular>
          <span>{{menu.title}}</span>
        </button>
      </div>
    </div>
  </div>
  <button
    class="flex items-center justify-start gap-2 w-full rounded px-2 py-1.5 text-sm transition-[box-shadow,_background-color,_color]
          cursor-pointer hover:bg-stone-200 bg-transparent text-stone-500 shadow-none"
  >
    <lucide-angular name="LogOut" size="20px"></lucide-angular>
    <span>Log out</span>
  </button>
</div>
