<div class="container">
  <div>
    <h3>E-BOOK</h3>
  </div>
  <div>
    <ul class="list-items">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/books" routerLinkActive="active">Books</a>
      </li>
      <li>
        <a routerLink="/authors" routerLinkActive="active">Authors</a>
      </li>
      <li>
        <a routerLink="/authors" routerLinkActive="active">Orders</a>
      </li>
    </ul>
  </div>
  <div>
    <p>Log out</p>
  </div>
</div>
