<header [class.shadow-md]="scrolledUp" class="fixed w-full bg-white transition-shadow duration-300 z-10">
  <nav class="flex justify-between items-center py-6 px-8">
    <div>
      <lucide-angular name="LayoutGrid" class="cursor-pointer" (click)="toggleMenu()"></lucide-angular>
      <div *ngIf="menuOpen" class="absolute border border-black px-10 py-2 mt-2 rounded bg-gray-200">
        <ul class="flex flex-col gap-5">
          <li class="cursor-pointer">Home</li>
          <li class="cursor-pointer">Books</li>
          <li class="cursor-pointer">About</li>
          <li class="cursor-pointer">Contact</li>
        </ul>
      </div>
    </div>
    <div>
      <h5 class="cursor-pointer" routerLink="/">E-BOOK</h5>
    </div>
    <div class="flex gap-4 relative">
      <!-- Favorite Icon with Badge -->
      <div class="relative">
        <lucide-angular name="Heart" class="cursor-pointer"></lucide-angular>
        <!--<span *ngIf="favoriteCount > 0"
              class="absolute top-0 right-0 bg-red-600 text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full -translate-y-1/2 translate-x-1/2">
          {{ favoriteCount }}
        </span>-->
      </div>

      <!-- Shopping Cart Icon with Badge -->
      <div class="relative">
        <lucide-angular name="ShoppingCart" class="cursor-pointer" (click)="openCart()"></lucide-angular>
        <span *ngIf="item.books.length > 0"
              class="absolute top-0 right-0 bg-green-600 text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full -translate-y-1/2 translate-x-1/2">
          {{ item.books.length }}
        </span>
      </div>

      <lucide-angular name="User" class="cursor-pointer"></lucide-angular>
    </div>
  </nav>
  <app-cart/>
</header>
