header{
  padding: 2rem 3rem 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu svg{
  cursor: pointer;
}

.logo{
  font-size: 25px;
}

.icons{
  display: flex;
  gap: 1rem;
}

.icons svg{
  cursor: pointer;
}
