.container{
  display: flex;
  padding: 3rem 3rem 0;
}

.img-container img{
  object-fit: cover;
  width: 40rem;
  height: 85vh;
  border-radius: 10px;
}

.from{
  display: flex;
  flex-direction: column;
  padding: 0 10rem 0;
}

.form-item{
  display: flex;
  flex-direction: column;
}

.form-item label{
  margin: 1.5rem 0 0;
}

.form-item input{
  width: 20rem;
  margin: .5rem 0 0;
  padding: 1rem 1.5rem;
  border: 2px solid #D9D9D9;
  border-radius: 5px;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 0;
}

.google-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  width: 20rem;
  border: 2px solid #D9D9D9;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn img{
  width: 1.5rem;
}

.google-btn p{
  margin-left: 10px;
}

.log-btn button{
  padding: 1rem 1.5rem;
  width: 20rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: .5s;
}

.log-btn button:hover{
  background: #000;
  color: #fff;
}

.sign-Up{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-weight: lighter;
}

.sign-Up span{
  color: #000;
  font-weight: normal;
  cursor: pointer;
}
