.container{
  display: flex;
  padding: 3rem 3rem 0;
}

.img-container img{
  object-fit: cover;
  width: 40rem;
  height: 85vh;
  border-radius: 10px;
}

.from{
  display: flex;
  flex-direction: column;
  padding: 0 10rem 0;
}

.form-item{
  display: flex;
  flex-direction: column;
}

.form-item label{
  margin: 1.5rem 0 0;
}

.form-item input{
  width: 20rem;
  margin: .5rem 0 0;
  padding: 1rem 1.5rem;
  border: 2px solid #D9D9D9;
  border-radius: 5px;
}

.buttons{
  display: flex;
  gap: 1rem;
  padding: 2rem 0 0;
}

.google-btn{
  padding: 1rem 1.4rem;
  background: #000;
  width: 3rem;
  border-radius: 5px;
}

.log-btn button{
  padding: 1rem 1.4rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
}
