<app-navbar/>
<div class="container">
  <div class="img-container">
    <img src="assets/image/signIn.png" alt="sign-in">
  </div>
  <div class="from">
    <div class="form-item">
      <label for="email">Email</label>
      <input id="email" type="text" placeholder="example@gmail.com" [(ngModel)]="request.email"/>
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password" [(ngModel)]="request.password"/>
    </div>
    <div class="buttons">
      <div class="log-btn">
        <button (click)="login()">Log In</button>
      </div>
      <div class="google-btn">
        <img src="assets/image/google.webp">
        <p>Continue with Google</p>
      </div>
    </div>
    <div class="sign-Up">
      <p>I don't have an account!<span (click)="routeToSignUp()">Sing Up</span></p>
    </div>
  </div>
</div>
