<app-navbar/>
<div class="container">
  <div class="img-container">
    <img src="assets/image/signIn.png" alt="sign-in">
  </div>
  <div class="from">
    <div class="form-item">
      <label for="email">Email</label>
      <input id="email" type="text" placeholder="example@gmail.com"/>
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password"/>
    </div>
    <div class="buttons">
      <div class="google-btn">

      </div>
      <div class="log-btn">
        <button>Log In</button>
      </div>
    </div>
  </div>
</div>
