<div class="bg-stone-100 grid gap-4 p-4 grid-cols-[250px_1fr]">
  <app-sidebar/>
  <div class="bg-white rounded-lg pb-4 shadow h-[96vh]">
    <app-top-bar/>
    <div class="px-5">
      <div class="flex gap-30 justify-between">
        <button class="flex items-center bg-cyan-300 px-4 py-2 rounded-sm cursor-pointer"
          (click)="openCreate()"
        >
          <lucide-angular name="BookPlus" size="15px" class="mr-1"></lucide-angular>
          New
        </button>
        <div class="bg-stone-200 rounded flex items-center px-4 py-2 text-sm w-96">
          <lucide-angular name="Search" size="20px"></lucide-angular>
          <input
            type="text"
            placeholder="Search"
            class="w-full bg-transparent placeholder:text-stone-400 focus:outline-none ml-2"
          />
        </div>
      </div>
      <div class="pt-10">
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-sm">
          <thead class="bg-gray-100 border-b border-gray-200">
          <tr>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">#</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Name</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Description</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Price</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Author</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Category</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="border-b hover:bg-gray-50"
              *ngFor="let item of items"
          >
            <td class="px-4 py-2 text-sm text-gray-900">
              <img class="w-20 h-16 rounded-lg" src="http://localhost:9000/uploads/{{item.pictureName}}">
            </td>
            <td class="px-4 py-2 text-sm text-gray-900">{{item.title}}</td>
            <td class="px-4 py-2 text-sm text-gray-900">{{item.description}}</td>
            <td class="px-4 py-2 text-sm text-gray-900">{{item.price}}$</td>
            <td class="px-4 py-2 text-sm text-gray-900">{{item.author}}</td>
            <td class="px-4 py-2 text-sm text-gray-900">{{item.category?.name}}</td>
            <td class="flex flex-col gap-2 px-4 py-2 text-sm">
              <button class="px-3 py-1 text-xs font-medium text-white bg-blue-500 rounded hover:bg-blue-600">Edit</button>
              <button class="px-3 py-1 text-xs font-medium text-white bg-red-500 rounded hover:bg-red-600"
                      (click)="deleteByRef(item.ref)"
              >Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-book-create/>
